@charset "utf-8";
/* CSS Document */

.AboutUsBody {
	height: 100%;
	position: absolute;
	overflow: hidden;
	width: 80%;
	left: 10%;
	right: 10%;
}
.aboutusbigtitle {
	font-size: 36px;
	color: #000;
}
.aboutuscontent {
	font-size: 24px;
	color: #000;
}
.ContentPosition {
	left: 2%;
	font-size: 24px;
	position: relative;
	line-height: 36px;
}
