@charset "utf-8";
/* CSS Document */

.councilbody {
	height: 100%;
	position: absolute;
	overflow: auto;
	width: 80%;
	left: 10%;
	right: 10%;
}
.Counciljobposition {
	position: relative;
	top: 0%;
}

.ConcilTitle {
	font-style: normal;
	color: #000;
	font-weight: bolder;
	font-size: 36px;
	left: 0%;
	clip: rect(auto,auto,auto,0%);
	position: relative;
}
